@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(../fonts/Poppins-Light.ttf) format('ttf');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(../fonts/Poppins-Regular.ttf) format('ttf');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(../fonts/Poppins-Medium.ttf) format('ttf');
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(../fonts/Poppins-SemiBold.ttf) format('ttf');
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: 'Poppins', sans-serif;
    src: url(../fonts/Poppins-Bold.ttf) format('ttf');
    font-style: normal;
    font-weight: 700;
}

