/* 
==============================
    * CSS TABLE CONTENT *
==============================
1. FONTS
2. VARIABLES CSS
3. BASE
4. REUSABLE CSS CLASS
5. HEADER & NAV
6. BREAKPOINTS
==============================
    * END TABLE CONTENT *
*/

/* ================ VARIABLES ================*/
:root{
    /* tipografia */
    --font-project: 'Poppins', sans-serif;
    --main-title-font-size: 50px;
    --subtitle-fot-size: 20px;
    --paragraf-font-size: 17px;
    /* grossores */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;
    /* colores */
    --color-default-header: #244371;
    --color-default-background: #0F1C30;
    --color-typography1: #3456ab;
    --color-typography-subtitle: #C0D0EF;
    --color-container: #C2C6CE;
    --color-btn: #2c1250;
    --color-typography2: #ffffff;
    /* margenes */
    --mr-1: 8px;
    --mr-2: 16px;
    --mr-3: 20px;
    --mr-4: 26px;
    --mr-5: 32px;
    /* boton */
    --btn-width: 55px;
    -btn-heigth: 33px;
}

/* ================ BASE ================*/

html{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    scroll-behavior: smooth;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    margin: 0;
    background-color: var(--color-default-background);
    color: var(--color-typography2);
}

main{
    padding-top: 5rem;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: var(--color-typogrphy2);
}

img{
    width: 100%;
    height: auto;
}

h2,h3{
    font-family: var(--font-project);
}

p{
    font-family: var(--font-project);
    font-size: var(--paragraf-font-size);
}

.btn{
    padding: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-weight: var(--font-semi-bold);
    cursor: pointer;
    transition: all ease 1s;
    background-color: var(--color-typography1);
    color: var(--color-typography2);
    margin-bottom: 10px;
}

.btn:hover{
    background-color: var(--color-default-header);
    transform: scale(0.9);
}

.icon:hover{
    color: var(--color-typography-subtitle);
}