.contact{
    width: 100%;
    padding: 20px 10px;
}

.contact .contact__container{
    background-color: #2f496e81;
    background-image: radial-gradient(circle at 15.91% 9.37%, #548ed481 2%, #070d1781 100%);
    border: 1px solid #010d21;
    padding: 10px;
    border-radius: 24px;
}

.contact__container .contact__info--title{
    font-weight: var(--font-bold);
    font-size: 36px;
    margin: 0;
    margin-top: 40px;
}

.contact__container .contact__info--description{
    width: 80%;
    font-weight: var(--font-medium);
}

.contact__container .contact__info--social{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

.contact__container .contact__info--social a{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact__container .contact__info--social .bx{
    font-size: 35px;
    border-radius: 50%;
    background-color: var(--color-default-background);
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.contact__form--container .contact__form{
    display: flex;
    flex-direction: column;
}

.contact__form--container .contact__form--input, textarea{
    padding: 10px;
    background-color: #ffffff7c;
    border-radius: 10px;
    margin-bottom: 15px;
    border: none;
    outline: none;
    font-size: var(--paragraf-font-size);
    transition: background-color 1s ease;
    cursor: pointer;
}

.contact__form--container .contact__form--input:hover, textarea:hover{
    background-color: var(--color-typography-subtitle);
}

.contact__form--container .contact__form--input:focus, textarea:focus{
    font-weight: var(--font-semi-bold);
    background-color: var(--color-default-background);
    color: #fff;
    cursor: text;
}

.contact__form textarea{
    resize: none;
}

.contact__form .btn{
    width: 100px;
    padding: 10px;
    border-radius: 24px;
    border: none;
    outline: none;
}

